
<%- include('head', {title: 'New spacecraft', id: 'addnew'}) %> 

<nav>
    <ul class="flexbox">
        <%- include('logo') %>
        <%- include('logged-in', {loggedInUser: loggedInUser}) %>
        <%- include('useroperations', {loggedInUser: loggedInUser}) %>
    </ul>
</nav>

<%- include('title-container', {title: 'Add new spacecraft'}) %> 

<main class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-darks" href="/list">
                    Back to listing
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 center">
                <div class="input-container">

                    <% if(typeof error.message !== 'undefined') { %>  
                        
                        <div class="error-message">
                            <p class="cyan"><%= error.message %></p>
                        </div>

                    <% } %>

                    <form method="post" action="/spacecrafts/new" enctype="multipart/form-data">
                        <div class="input-field">
                            <input id="spacecraft-name" name="name" type="text" required value="<%= typeof spacecraft !== 'undefined' ? spacecraft.name : '' %>">
                            <label for="spacecraft-name">Name</label>
                        </div>
                        <div class="input-field">
                            <input id="spacecraft-manufacturer" name="manufacturer" type="text" required value="<%= typeof spacecraft !== 'undefined' ? spacecraft.manufacturer : '' %>">
                            <label for="spacecraft-manufacturer">Manufacturer</label>
                        </div>
                        <div class="input-field">
                            <input id="spacecraft-price" name="price" type="number" required value="<%= typeof spacecraft !== 'undefined' ? spacecraft.price : 0 %>">
                            <label for="spacecraft-price">Price ($)</label>
                        </div>
                        <div class="input-field">
                            <input id="spacecraft-passengers" name="passengers" type="number" required value="<%= typeof spacecraft !== 'undefined' ? spacecraft.passengers : 0 %>">
                            <label for="spacecraft-passengers">Passengers</label>
                        </div>
                        <div class="input-field">
                            <input id="spacecraft-type" name="type" type="text" required value="<%= typeof spacecraft !== 'undefined' ? spacecraft.type : '' %>">
                            <label for="spacecraft-type">Type</label>
                        </div>
                        <div class="input-field">
                            <input id="spacecraft-length" name="length" type="number" required value="<%= typeof spacecraft !== 'undefined' ? spacecraft.length : 0 %>">
                            <label for="spacecraft-length">Length (m)</label>
                        </div>
                        <div class="input-field">
                            <input id="spacecraft-width" name="width" type="number" required value="<%= typeof spacecraft !== 'undefined' ? spacecraft.width : 0 %>">
                            <label for="spacecraft-width">Width (m)</label>
                        </div>
                        <div class="input-field">
                            <input id="spacecraft-engine" name="engine" type="text" required value="<%= typeof spacecraft !== 'undefined' ? spacecraft.engine : '' %>">
                            <label for="spacecraft-engine">Engine</label>
                        </div>
                        <div class="input-field">
                            <input id="spacecraft-hyperdrive" name="hyperdrive" type="text" required value="<%= typeof spacecraft !== 'undefined' ? spacecraft.hyperdrive : '' %>">
                            <label for="spacecraft-hyperdrive">Hyperdrive</label>
                        </div>
                        <div class="input-field">
                            <input id="spacecraft-cargo" name="cargocapacity" type="number" required value="<%= typeof spacecraft !== 'undefined' ? spacecraft.cargoCapacity : 0 %>">
                            <label for="spacecraft-cargo">Cargo capacity (kg)</label>
                        </div>
                        <div class="input-field">
                            <input id="spacecraft-velocity" name="maxspeed" type="number" required value="<%= typeof spacecraft !== 'undefined' ? spacecraft.maxSpeed : 0 %>">
                            <label for="spacecraft-velocity">Maximum speed (km/h)</label>
                        </div>
                        <p class="center">If no data for given property,<br>use '-' character or 0 for numbers!</p>
                        
                        <% if(typeof res.locals.spacecraft === 'undefined') {%>

                            <label id="upload-container" for="upload-input">
                                <img id="upload-photo" src="/assets/file_upload.png">
                                <span id="upload-text">Select an image</span>
                            </label>
                            <input id="upload-input" type="file" name="spacecraftpic" accept="image/png, image/jpeg, image/webp, image/gif" required>

                        <% } %> 
                        
                        <input class="btn btn-darks size-100" type="submit" value="Add">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('footer') %> 

<script src="/js/userops.js"></script>
<script src="/js/file_upload.js"></script>

<%- include('closing') %> 
