
<%- include('head', {title: 'Details', id: 'details'}) %>

<nav>
    <ul class="flexbox">
        <%- include('logo') %> 
        <%- include('logged-in', {loggedInUser: loggedInUser}) %>
        <%- include('logout', {loggedInUser: loggedInUser}) %>  
    </ul>
</nav>

<%- include('title-container', {title: 'Spacecraft details'}) %> 

<main class="content">
    <div class="container">
        <div class="row buttons">
            <div class="col-12">
                <a class="btn btn-darks" href="/list">
                    Back to listing
                </a>
                <a class="btn btn-darks" href="/comments/<%= spacecraft._id %>/new">
                    Rate or comment
                </a>

                <% if(spacecraft.author._id === loggedInUser._id) { %>
                    <a class="btn btn-darks" href="/spacecraft/<%= spacecraft._id %>/edit">
                        Edit
                    </a>
                    <a class="btn btn-darks" href="/spacecraft/<%= spacecraft._id %>/delete">
                        Delete
                    </a>
                <% } %> 
                
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="new-layer">
                    <img class="details-img" src="/assets/spacecrafts/<%= spacecraft.imageName %>">
                    <span class="spacecraft-title">
                        <%= spacecraft.name %> 
                    </span>
                    <span class="spacecraft-type">
                        , <%= spacecraft.type %>
                    </span>
                </div>
                <p class="user-owner">added by <%= spacecraft.author %></p>
            </div>
            <div class="col-7">
                <table>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                    <tr class="details-table-row gray-row">
                        <td>
                            <p>Manufacturer</p> 
                        </td>
                        <td>
                            <p><%= spacecraft.manufacturer %></p> 
                        </td>
                    </tr>
                    <tr class="details-table-row gray-row">
                        <td>
                            <p>Price</p> 
                        </td>
                        <td>
                            <p><%= spacecraft.price %></p> 
                        </td>
                    </tr>
                    <tr class="details-table-row gray-row">
                        <td>
                            <p>Passengers</p> 
                        </td>
                        <td>
                            <p><%= spacecraft.passengers %></p> 
                        </td>
                    </tr>
                    <tr class="details-table-row gray-row">
                        <td>
                            <p>Type</p> 
                        </td>
                        <td>
                            <p><%= spacecraft.type %></p> 
                        </td>
                    </tr>
                    <tr class="details-table-row gray-row">
                        <td>
                            <p>Length</p> 
                        </td>
                        <td>
                            <p><%= spacecraft.length %></p> 
                        </td>
                    </tr>
                    <tr class="details-table-row gray-row">
                        <td>
                            <p>Width</p> 
                        </td>
                        <td>
                            <p><%= spacecraft.width %></p> 
                        </td>
                    </tr>
                    <tr class="details-table-row gray-row">
                        <td>
                            <p>Engine</p> 
                        </td>
                        <td>
                            <p><%= spacecraft.engine %></p> 
                        </td>
                    </tr>
                    <tr class="details-table-row gray-row">
                        <td>
                            <p>Hyperdrive</p> 
                        </td>
                        <td>
                            <p><%= spacecraft.hyperdrive %></p> 
                        </td>
                    </tr>
                    <tr class="details-table-row gray-row">
                        <td>
                            <p>Cargo capacity</p> 
                        </td>
                        <td>
                            <p><%= spacecraft.cargoCapacity %></p> 
                        </td>
                    </tr>
                    <tr class="details-table-row gray-row">
                        <td>
                            <p>Maximum velocity</p> 
                        </td>
                        <td>
                            <p><%= spacecraft.maxVelocity %></p> 
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 comments">
                <% if(typeof spacecraft.comments !== 'undefined') {%> <%# Could check comments.length here, we will see which fits better %> 
                    
                    <% for(key in spaceraft.comments) { let comment = spaceraft.comments[key];%>

                        <div class="comment">
                            <h3 class="comment-title">
                                <%= comment.title %> 
                            </h3>
                            <p><%= comment.text %></p>
                            <h4 class="comment-date"><%= comment.date %></h4>

                            <% if(comment.author._id === loggedInUser._id) { %>
                                <a class="btn btn-darks" href="/comment/<%= spacecraft._id %>/<%= comment._id %>/edit">
                                    Edit
                                </a>
                                <a class="btn btn-darks" href="/comment/<%= comment._id %>/delete">
                                    Delete
                                </a>
                            <% } %>
                        </div>

                    <% } %>  

                <% } else{ %>

                    <div class="error-message">
                        <p class="cyan">There are no comments for this spacecraft. Yet!</p>
                    </div>

                <% } %> 
            </div>
        </div>
    </div>
</main>

<%- include('footer') %> 

<script src="/js/userops.js"></script>

<%- include('closing') %> 
