
<%- include('head', {title: 'Error', id: 'error'}) %>

<nav>
    <ul class="flexbox">
        <%- include('logo') %> 
    </ul>
</nav>

<%- include('title-container', {title: 'Error!'}) %> 

<main class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-darks" href="/">
                    Back to homepage
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 center">
                <h1>Whoops! Some error happened!</h1>
                <h3>Error code: <%= errorCode %></h3>
                <h4>Problem: <%= errorProblem %></h4>
            </div>
        </div>
    </div>
</main>

<%- include('footer') %>

<%- include('closing') %>
